@charset "UTF-8";
@font-face {
  font-family: "BohemianSoul-Regular";
  src: url("../font-family/BohemianSoul-Regular.woff2") format("opentype");
}

@font-face {
  font-family: "Cornerstone";
  src: url("../font-family/Cornerstone.woff2") format("opentype");
}

body {
  background-color: #00051c !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-50 {
  margin-top: 50px !important;
}

.menuActive {
  color: #06eab3 !important;
}

.menuActive::after {
  width: 100%;
  height: 20px;
  content: " ";
  position: absolute;
  bottom: -15px;
  left: -2px;
  background-image: url("../img/icon/navbottom.png");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center;
}

nav {
  position: fixed !important;
  width: 100% !important;
  z-index: 999999;
}

nav .navbar-collapse {
  display: block;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav .navbar-collapse .mobilArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar-collapse .mobilArea .navbar-nav {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 20px;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 20px !important;
}

nav .navbar-collapse .mobilArea .navbar-nav .nav-item .nav-link {
  position: relative;
  font-family: "Cornerstone";
  color: white;
  padding: 0px;
  height: 100%;
  font-size: 18px;
}

nav .navbar-collapse .mobilArea form .socialArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-right: 28px;
}

nav .navbar-collapse .mobilArea form .socialArea a:first-child img {
  width: 15px;
  height: 15px;
}

nav .navbar-collapse .mobilArea form .socialArea a:nth-child(2) img {
  width: 15px;
  height: 15px;
}

nav .navbar-collapse .mobilArea form .socialArea a:nth-child(3) img {
  width: 22px;
  height: 16px;
}

nav .navbar-collapse .mobilArea form .socialArea a:nth-child(4) img {
  width: 25px;
  height: 18px;
}

nav .navbar-collapse .mobilArea form .btnConnect {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
          box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
}

.mainHeader {
  position: relative;
  height: 100vh;
  background-image: url("../img/headerBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainHeader .headerArea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mymove 6s;
          animation: mymove 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes mymove {
  0% {
    top: 50%;
  }
  25% {
    top: 45%;
  }
  50% {
    top: 50%;
  }
  75% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@keyframes mymove {
  0% {
    top: 50%;
  }
  25% {
    top: 45%;
  }
  50% {
    top: 50%;
  }
  75% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

.mainHeader .headerArea img {
  width: 500px;
  height: 500px;
}

.timeArea {
  background-color: #00051c;
  padding: 150px 0px;
}

.timeArea .textMntdate {
  text-align: center;
  font-size: 56px;
  color: #15ceaf;
  font-family: "Cornerstone";
}

.timeArea .hood h3 {
  text-align: center;
  color: #06eab3;
  font-size: 2rem;
  font-family: "Cornerstone";
}

.timeArea .date {
  gap: 20px;
  margin: 30px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.75rem;
}

.timeArea .date h3 {
  color: #06eab3;
  font-family: "Cornerstone";
  text-align: center;
  font-size: 2.75rem;
}

.timeArea #countdownTwo,
.timeArea #countdown {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.timeArea #countdownTwo span,
.timeArea #countdown span {
  font-size: 2.75rem;
  font-family: "Cornerstone";
  font-size: 26px;
  color: #06eab3;
}

.timeArea #countdownTwo .timeName,
.timeArea #countdown .timeName {
  font-size: 2rem;
  font-family: "Cornerstone";
  color: #06eab3;
  margin-top: 10px;
}

.timeArea .countdown-sectionTwo span {
  color: #06eab3;
  font-family: "Cornerstone";
  text-align: center;
  font-size: 2rem !important;
}

.roadMap {
  margin-bottom: 150px;
  position: relative;
}

.roadMap .container-fluid {
  height: 4300px;
}

.roadMap .container-fluid .rHood {
  text-align: center;
}

.roadMap .container-fluid .rHood h6 {
  font-size: 56px;
  color: #15ceaf;
  font-family: "Cornerstone";
}

.roadMap .container-fluid .rHood img {
  position: absolute;
  left: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 100px;
  z-index: 10;
}

.roadMap .container-fluid .firstArea {
  text-align-last: center;
  margin-top: 350px;
}

.roadMap .container-fluid .firstArea p:first-child {
  color: #3b3f51;
  font-size: 36px;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .firstArea p:nth-child(2) {
  color: white;
  font-size: 80px;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .firstArea p:nth-child(3) {
  font-size: 56px;
  color: white;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .firstArea button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
  box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
  margin-top: 70px;
  font-size: 36px;
}

.roadMap .container-fluid .firstArea .imgArea img {
  width: 1000px;
  position: absolute;
  left: -140px;
  top: -148px;
  z-index: 11;
}

.roadMap .container-fluid .secondArea {
  text-align-last: center;
  margin-top: 350px;
  position: relative;
}

.roadMap .container-fluid .secondArea .textArea {
  display: block;
  text-align: -webkit-center;
}

.roadMap .container-fluid .secondArea .textArea p:first-child {
  color: #595c6b;
  font-size: 124px;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
  position: absolute;
  right: 212px;
  top: 108px;
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
  z-index: -1;
}

.roadMap .container-fluid .secondArea .textArea p:nth-child(2) {
  color: white;
  font-size: 80px;
  line-height: 106px;
  margin: 0px;
  margin-bottom: 20px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .secondArea .textArea p:nth-child(3) {
  font-size: 18px;
  color: #595c6b;
  text-align: center;
  margin: 0px;
  text-align: start;
  margin: 0px 100px;
}

.roadMap .container-fluid .secondArea .textArea button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
  box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  font-size: 36px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
  margin-top: 70px;
}

.roadMap .container-fluid .secondArea .imgArea .opacityImag {
  width: 1000px;
  position: absolute;
  left: 127px;
  top: -295px;
}

.roadMap .container-fluid .secondArea .imgArea .imgS {
  width: 750px;
  position: absolute;
  right: -72px;
  top: 26px;
  z-index: 11;
}

.roadMap .container-fluid .thirtArea {
  text-align-last: center;
  margin-top: 850px;
}

.roadMap .container-fluid .thirtArea .textArea {
  position: relative;
  display: block;
  text-align: -webkit-center;
}

.roadMap .container-fluid .thirtArea .textArea p:first-child {
  color: #595c6b;
  font-size: 194px;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -96px;
  z-index: -1;
}

.roadMap .container-fluid .thirtArea .textArea p:nth-child(2) {
  color: white;
  font-size: 80px;
  line-height: 106px;
  margin: 0px;
  margin-bottom: 50px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .thirtArea .textArea p:nth-child(3) {
  font-size: 18px;
  color: #595c6b;
  text-align: center;
  margin: 0px;
  text-align: start;
  margin: 0px 100px;
}

.roadMap .container-fluid .thirtArea .textArea button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
  box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  font-size: 36px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
  margin-top: 70px;
}

.roadMap .container-fluid .thirtArea .imgArea .opacityImag {
  width: 400px;
  position: absolute;
  left: 130px;
  top: -90px;
}

.roadMap .container-fluid .thirtArea .imgArea .imgS {
  width: 350px;
  position: absolute;
  left: 300px;
  top: 26px;
  z-index: 11;
}

.roadMap .container-fluid .fourthArea {
  text-align-last: center;
  margin-top: 400px;
}

.roadMap .container-fluid .fourthArea .textArea {
  display: block;
  text-align: -webkit-center;
  position: relative;
}

.roadMap .container-fluid .fourthArea .textArea p:first-child {
  color: #595c6b;
  font-size: 194px;
  text-align: center;
  margin: 0px;
  font-family: "BohemianSoul-Regular";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -95px;
  z-index: -1;
}

.roadMap .container-fluid .fourthArea .textArea p:nth-child(2) {
  color: white;
  font-size: 44px;
  line-height: 44px;
  margin: 0px;
  margin-bottom: 0px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .fourthArea .textArea p:nth-child(3) {
  color: white;
  font-size: 80px;
  line-height: 106px;
  margin: 0px;
  margin-bottom: 50px;
  font-family: "BohemianSoul-Regular";
}

.roadMap .container-fluid .fourthArea .textArea p:nth-child(4) {
  font-size: 18px;
  color: #595c6b;
  text-align: center;
  margin: 0px;
  text-align: start;
  margin: 0px 100px;
}

.roadMap .container-fluid .fourthArea .textArea button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
  box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  font-size: 36px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
  margin-top: 70px;
}

.roadMap .container-fluid .fourthArea .imgArea {
  position: relative;
}

.roadMap .container-fluid .fourthArea .imgArea .imgS {
  width: 800px;
  position: absolute;
  top: 14px;
  left: 67%;
  z-index: 11;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.roadMap .container .buttonArea {
  text-align-last: center;
  display: block;
}

.roadMap .container .buttonArea button {
  background-image: url("../img/icon/arrowR.png");
  background-color: transparent;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 20px 45px;
  padding-left: 0px;
  color: #11a692;
  font-size: 24px;
  border: 0px;
  outline: 0px;
  font-family: "Cornerstone";
  z-index: 9999;
}

.sliderOne {
  position: relative;
}

.sliderOne .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 200px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/prev.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
}

.sliderOne .owl-carousel .owl-nav .owl-next {
  right: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/next.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
}

.sliderOne .owl-carousel .owl-dots {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10px;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sliderOne .owl-carousel .owl-dots button {
  width: 10px;
  height: 10px;
  background-color: #a3a3a3;
  border-radius: 10px;
}

.sliderOne .owl-carousel .owl-item .textArea p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 46px;
  color: white;
  font-family: "Cornerstone";
}

.sliderRightLeft {
  margin: 150px 0px;
}

.nftTExt {
  margin: 100px 0px;
}

.nftTExt .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nftTExt .row .textAreaBtn {
  text-align: center;
  text-align: -webkit-center;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nftTExt .row .textAreaBtn .one {
  font-family: "BohemianSoul-Regular";
  color: grey;
  font-size: 22px;
}

.nftTExt .row .textAreaBtn .two {
  font-size: 18px;
  width: 450px;
  color: grey;
  text-align: justify;
}

.nftTExt .row .textAreaBtn h6 {
  margin: 10px 0px;
  font-size: 46px;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.nftTExt .row .textAreaBtn button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
          box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
}

.owl-Two {
  margin-bottom: 70px;
}

footer {
  padding: 75px;
  background-image: url("../img/bgFooter.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logorea img {
  width: 400px;
  height: 400px;
}

footer .socialArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

footer .socialArea img {
  width: 35px;
  height: 35px;
}

footer .socialArea .discort {
  width: 50px !important;
  height: 35px !important;
}

footer .socialArea .twitter {
  width: 35px !important;
  height: 30px !important;
}

footer .textArea p {
  font-size: 14px;
  margin-top: 30px;
  color: grey;
}

.theGame {
  overflow-x: hidden;
}

.spAboutusHeader {
  background-image: url("../img/Fusion3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}

.spAboutusHeader .headerArea {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spAboutusHeader .headerArea img {
  width: 550px;
  height: auto;
}

.spAboutusHeader .headerArea p {
  margin-top: 20px;
  color: grey;
  text-align: start;
  width: 800px;
  font-weight: 600;
}

.Ourteam {
  margin: 200px 0px;
}

.Ourteam .textAreaTeam h6 {
  font-size: 46px;
  text-align: center;
  color: white;
  font-family: "BohemianSoul-Regular";
  margin-bottom: 50px;
}

.Ourteam .textAreaTeam p {
  color: white;
  font-size: 18px;
}

.teamMate {
  margin: 150px 0px;
}

.teamMate .persons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.teamMate .persons .person {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.teamMate .persons .person img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.teamMate .persons .person .name {
  color: #ccbf8b !important;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0px !important;
}

.teamMate .persons .person .position {
  color: grey;
  font-size: 14px;
}

.joinTheTeam {
  background-image: url("../img/Varlık9@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 0px;
}

.joinTheTeam .textArea h6 {
  font-size: 46px;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.joinTheTeam .textArea p {
  margin: 0px;
  color: white;
}

.faq {
  margin-top: 167px;
}

.faq .specialRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.faq .specialRow .hoodArea p {
  font-size: 46px;
  color: #06eab3;
  font-family: "Cornerstone";
  margin-left: 70px;
}

.faq .specialRow .accordion-container {
  position: relative;
  width: 100%;
  outline: 0;
  cursor: pointer;
  margin-bottom: 100px !important;
}

.faq .specialRow .accordion-container .article-title {
  display: block;
  position: relative;
  margin: 30px 0px;
  padding: 0.625em 0.625em 0.625em 4em;
  font-size: 1.25em;
  font-weight: normal;
  color: white;
  cursor: pointer;
}

.faq .specialRow .accordion-container .content-entry i {
  top: 10px;
  position: absolute;
  left: 12px;
  font-style: normal;
  width: 30px;
  height: 30px;
  font-size: 1.625em;
  position: absolute;
  color: white;
  left: 30px;
  background-image: url("../img/icon/Varlık7@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  border-radius: 17px;
}

.faq .specialRow .accordion-container .content-entry i:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  background-image: url("../img/icon/plus.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: " ";
  height: 20px;
}

.faq .specialRow .accordion-container .content-entry.open i:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  background-image: url("../img/icon/minus.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: " ";
  height: 20px;
}

.faq .specialRow .accordion-content {
  display: none;
  color: white;
  margin-left: 80px;
}

.faq .specialRow #content {
  width: 100%;
}

.faq .specialRow .accordion-container,
.faq .specialRow #description {
  width: 90%;
  margin: 1.875em auto;
}

.faq .specialRow #description p {
  line-height: 1.5;
}

.faq .specialRow #description h2 {
  text-align: center;
}

@media all and (min-width: 860px) {
  .faq .specialRow #content {
    width: 70%;
    margin: 0 auto;
  }
}

.theGameHeader {
  position: relative;
  height: 100vh;
  background-image: url("../img/theGameBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.theGameHeader .imgArea {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.theGameHeader .imgArea img {
  width: 500px;
  height: auto;
}

.gameArea {
  height: 1000px;
  background-image: url("../img/g1BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gameArea .imgArea {
  position: relative;
}

.gameArea .imgArea img {
  position: absolute;
  left: -300px;
  width: 1000px;
  top: 0px;
  height: auto;
}

.gameArea .textArea {
  margin: 350px 0px;
  margin-right: 150px !important;
  margin-left: 150px !important;
}

.gameArea .textArea h6 {
  font-size: 46px;
  text-align: start;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.gameArea .textArea p {
  font-size: 18px;
  color: white;
}

.gameAreaTwo {
  height: 1200px;
  background-image: url("../img/g2bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gameAreaTwo .imgArea {
  position: relative;
}

.gameAreaTwo .imgArea img {
  position: absolute;
  right: -12px;
  width: 600px;
  height: auto;
  top: 200px;
}

.gameAreaTwo .textArea {
  margin: 500px 0px;
  margin-left: 300px;
}

.gameAreaTwo .textArea h6 {
  font-size: 60px;
  text-align: start;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.gameAreaTwo .textArea p {
  font-size: 35px;
  color: white;
}

.gameAreaThree {
  height: 1200px;
  background-image: url("../img/g3BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gameAreaThree .imgArea {
  position: relative;
}

.gameAreaThree .imgArea img {
  position: absolute;
  left: -564px;
  width: 1200px;
  top: 250px;
  height: auto;
}

.gameAreaThree .textArea {
  margin: 500px 0px;
  margin-right: 300px;
}

.gameAreaThree .textArea h6 {
  font-size: 46px;
  text-align: start;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.gameAreaThree .textArea p {
  font-size: 18px;
  color: white;
}

.gameAreaFour {
  height: 1200px;
  background-image: url("../img/g4BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gameAreaFour .imgArea {
  position: relative;
}

.gameAreaFour .imgArea img {
  position: absolute;
  width: 400px;
  height: auto;
  right: 200px;
  top: 350px;
}

.gameAreaFour .textArea {
  margin: 500px 0px;
  margin-left: 300px;
}

.gameAreaFour .textArea h6 {
  font-size: 46px;
  text-align: start;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.gameAreaFour .textArea p {
  font-size: 18px;
  color: white;
}

.gameText .textArea {
  text-align: center;
  margin: 150px 0px;
}

.gameText .textArea h6 {
  color: white;
  font-size: 46px;
  font-family: "Cornerstone";
}

.gameText .textArea p {
  color: white;
  font-size: 18px;
}

.setupClan {
  background-image: url("../img/g5BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 250px 0px;
  height: 1200px;
}

.setupClan .col-12 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: -webkit-center;
}

.setupClan .col-12 .textArea {
  width: 550px;
  margin: 250px 0px;
}

.setupClan .col-12 .textArea h6 {
  color: white;
  font-size: 46px;
  text-align: start;
  font-family: "BohemianSoul-Regular";
  margin-bottom: 20px;
}

.setupClan .col-12 .textArea p {
  text-align: start;
  font-size: 18px;
  color: white;
  margin: 20px 0px;
}

.setupClan .slideText {
  position: relative;
  -webkit-transform: rotate(355deg);
          transform: rotate(355deg);
  position: absolute;
  width: 100%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.setupClan .slideText p {
  font-size: 18px;
  left: 0px;
  position: absolute;
  font-family: "Cornerstone";
  color: #15ceaf;
  opacity: 1;
  -webkit-animation: leftText 25s infinite linear;
          animation: leftText 25s infinite linear;
  width: 1920px;
  text-align: start;
}

.setupClan .slideText p span img {
  width: 25px;
  height: 25px;
}

.gamemode {
  margin: 150px 0px;
}

.gamemode .textArea h6 {
  text-align: center;
  font-size: 46px;
  color: white;
  font-family: "BohemianSoul-Regular";
}

.gamemode .textArea p {
  font-size: 18px;
  color: white;
  margin-top: 30px;
}

.gamemode .cardArea {
  background-image: url("../img/bgGameModeCard.png");
  margin-top: 75px;
  text-align: center;
  background-position-x: center;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

.gamemode .cardArea .cardItems img {
  width: 250px;
  height: auto;
}

.gamemode .cardArea .cardItems .textArea {
  padding: 0px 130px;
}

.gamemode .cardArea .cardItems .textArea h6 {
  font-size: 26px;
  color: #2ff3b5;
  font-family: "Cornerstone";
  margin-top: 50px;
}

.gamemode .cardArea .cardItems .textArea p {
  text-align: start;
  color: white;
  font-size: 18px;
}

.gamemode .cardArea .cardItemsTwo {
  position: relative;
}

.gamemode .cardArea .cardItemsTwo img {
  width: 250px;
  height: auto;
}

.gamemode .cardArea .cardItemsTwo .imgBefore {
  position: absolute;
  top: -30px;
  left: 25px;
  width: 150px;
}

.gamemode .cardArea .cardItemsTwo .textArea {
  padding: 0px 1px;
}

.gamemode .cardArea .cardItemsTwo .textArea h6 {
  font-size: 26px;
  color: #2ff3b5;
  font-family: "Cornerstone";
  margin-top: 50px;
}

.gamemode .cardArea .cardItemsTwo .textArea p {
  text-align: start;
  color: white;
  font-size: 18px;
}

.itsyourturn {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.itsyourturn h6 {
  color: white;
  -webkit-text-stroke: 2px #513e1d;
  font-size: 46px;
  position: relative;
  font-family: "BohemianSoul-Regular";
}

.itsyourturn h6 span {
  width: 150px;
  position: absolute;
  color: #f1036a !important;
  -webkit-text-stroke: 0px;
  left: 338px;
  -webkit-transform: rotate(331deg);
          transform: rotate(331deg);
  -webkit-text-stroke: 2px #513e1d;
}

.itsyourturn button {
  background-color: #f1036a;
  color: white;
  -webkit-box-shadow: -1px 2px 0px 5px #a80068;
          box-shadow: -1px 2px 0px 5px #a80068;
  border: 0px;
  outline: 0px;
  font-family: "BohemianSoul-Regular";
  padding: 3px 50px;
  border-radius: 5px;
}

.manifestoText .textArea {
  margin-top: 200px;
  margin-bottom: 150px;
}

.manifestoText .textArea h6 {
  color: #333749;
  font-size: 106px;
  font-family: "Cornerstone";
}

.manifestoText .textArea p {
  color: white;
  margin: 0px;
  font-size: 18px;
}

.owlFour {
  margin: 150px 0px;
}

.openSea {
  background-image: url("../img/openSeaArea.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 100px;
}

.openSea .hoodBTn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.openSea .hoodBTn .hood h6:first-child {
  font-family: "Cornerstone";
  color: black;
  font-size: 56px;
}

.openSea .hoodBTn .hood h6:nth-child(2) {
  font-family: "Cornerstone";
  color: white;
  font-size: 76px;
}

.openSea .hoodBTn .hood a img {
  width: 50px;
  height: auto;
  margin-top: 15px;
}

.openSea .hoodBTn .btn button {
  width: 100%;
  border-radius: 25px;
  background-image: url("../img/icon/btnbg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 100px;
  border: 0px;
  outline: 0px;
}

@-webkit-keyframes leftText {
  from {
    left: -1920;
  }
  to {
    left: 2000px;
  }
}

@media only screen and (max-width: 1800px) {
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 40px !important;
  }
}

@media only screen and (max-width: 1700px) {
  .mainHeader {
    background-size: cover !important;
    background-position-x: -400px;
  }
  .roadMap .container-fluid .firstArea .imgArea img {
    width: 800px !important;
    top: -50px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: -7px !important;
  }
}

@media only screen and (max-width: 1600px) {
  .gameArea .textArea {
    margin-right: 150px !important;
    margin-left: 150px !important;
  }
  .gameAreaThree .textArea {
    margin-right: 150px !important;
    margin-left: 150px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 32px !important;
    width: 900px !important;
  }
  .roadMap .container-fluid .fourthArea .imgArea .imgS {
    width: 700px !important;
  }
}

@media only screen and (max-width: 1500px) {
  .gameAreaTwo .textArea {
    margin-left: 150px;
    margin-right: unset !important;
  }
  .gameAreaThree .textArea {
    margin: 500px 0px;
    margin-right: 150px !important;
    margin-left: 50px !important;
  }
  .gameAreaFour .imgArea img {
    right: 100px !important;
  }
  .gameAreaFour .textArea {
    margin-left: 150px;
    margin-right: unset !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 78px !important;
    width: 800px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .imgS {
    width: 650px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .gameArea .imgArea img {
    width: 800px !important;
  }
  .gameArea .textArea {
    margin-left: unset !important;
  }
  .itsyourturn h6 span {
    left: 248px !important;
  }
  .gameAreaTwo .imgArea img {
    width: 400px;
  }
  .gameAreaThree .imgArea img {
    left: -364px;
    width: 900px;
  }
  .gamemode .cardArea .cardItems img {
    width: 200px !important;
  }
  .gamemode .cardArea .cardItems .textArea p {
    text-align: center !important;
  }
  .gamemode .cardArea .cardItemsTwo .imgBefore {
    width: 130px !important;
  }
  .gamemode .cardArea .cardItemsTwo img {
    width: 200px !important;
  }
  .gamemode .cardArea .cardItemsTwo .textArea p {
    text-align: center !important;
  }
  .roadMap .container-fluid .firstArea p:nth-child(2) {
    font-size: 60px !important;
  }
  .roadMap .container-fluid .firstArea p:nth-child(3) {
    font-size: 36px !important;
  }
  .roadMap .container-fluid .firstArea button {
    font-size: 27px !important;
    outline: 0px !important;
  }
  .roadMap .container-fluid .firstArea .imgArea img {
    width: 800px !important;
  }
  .roadMap .container-fluid .secondArea .textArea p:first-child {
    right: 162px;
    top: 90px;
  }
  .roadMap .container-fluid .secondArea .textArea p:nth-child(2) {
    font-size: 60px;
    line-height: 82px;
  }
  .roadMap .container-fluid .secondArea .textArea button {
    font-size: 27px;
    outline: 0px;
    font-family: "BohemianSoul-Regular";
    padding: 3px 50px;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 13px !important;
    top: -219px !important;
  }
  .roadMap .container-fluid .thirtArea .textArea p:first-child {
    top: -58px !important;
    font-size: 144px !important;
  }
  .roadMap .container-fluid .thirtArea .textArea p:nth-child(2) {
    font-size: 60px;
  }
  .roadMap .container-fluid .thirtArea .textArea button {
    font-size: 27px !important;
    padding: 3px 50px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .opacityImag {
    width: 350px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .imgS {
    left: 194px !important;
  }
  .roadMap .container-fluid .fourthArea {
    margin-top: 500px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:first-child {
    font-size: 137px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:nth-child(2) {
    font-size: 32px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:nth-child(3) {
    font-size: 56px !important;
    line-height: 65px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea button {
    font-size: 27px;
    outline: 0px;
    font-family: "BohemianSoul-Regular";
    padding: 3px 50px;
  }
  .roadMap .container-fluid .fourthArea .imgArea .imgS {
    left: 63% !important;
  }
}

@media only screen and (max-width: 1300px) {
  .gamemode .cardArea .cardItems img {
    width: 200px !important;
  }
  .gamemode .cardArea .cardItems .textArea p {
    text-align: center !important;
  }
  .gamemode .cardArea .cardItemsTwo .imgBefore {
    width: 130px !important;
  }
  .gamemode .cardArea .cardItemsTwo img {
    width: 200px !important;
  }
  .gamemode .cardArea .cardItemsTwo .textArea p {
    text-align: center !important;
  }
  .roadMap .container-fluid .firstArea p:first-child {
    font-size: 26px;
  }
  .roadMap .container-fluid .firstArea p:nth-child(2) {
    font-size: 56px !important;
  }
  .roadMap .container-fluid .firstArea p:nth-child(3) {
    font-size: 36px !important;
  }
  .roadMap .container-fluid .firstArea button {
    font-size: 27px !important;
    padding: 3px 50px !important;
  }
  .roadMap .container-fluid .firstArea .imgArea img {
    top: -10px !important;
    left: -76px;
    width: 600px !important;
  }
  .roadMap .container-fluid .secondArea .textArea p:first-child {
    font-size: 86px;
    right: 126px;
    top: 56px;
  }
  .roadMap .container-fluid .secondArea .textArea p:nth-child(2) {
    font-size: 56px !important;
    line-height: 66px !important;
  }
  .roadMap .container-fluid .secondArea .textArea button {
    font-size: 27px !important;
    padding: 3px 50px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 37px !important;
    width: 700px !important;
    top: -200px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .imgS {
    width: 550px !important;
  }
  .roadMap .container-fluid .thirtArea .textArea button {
    font-size: 27px !important;
    padding: 3px 50px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .opacityImag {
    width: 350px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .imgS {
    width: 300px;
  }
  .roadMap .container-fluid .fourthArea .textArea button {
    font-size: 27px !important;
    padding: 3px 50px !important;
  }
  .roadMap .container-fluid .fourthArea .imgArea .imgS {
    width: 600px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .gamemode .cardArea {
    background-size: 100% !important;
    background-position: center !important;
  }
  .theGameHeader {
    background-size: cover !important;
  }
  .gameAreaTwo {
    height: 800px;
    background-size: cover !important;
    background-position: start;
  }
  .gameAreaTwo .textArea {
    margin: 350px !important;
    margin-left: 100px;
    margin-right: unset !important;
  }
  .gameArea .imgArea img {
    width: 700px !important;
    top: 60px;
  }
  .gameAreaThree {
    height: 800px;
    background-size: cover !important;
    background-position: center;
  }
  .gameAreaThree .imgArea img {
    width: 800px !important;
    top: 160px !important;
  }
  .gameAreaThree .textArea {
    margin: 300px 0px !important;
    margin-right: 0px !important;
    margin-left: 50px !important;
  }
  .gameAreaTwo {
    background-size: cover !important;
    background-position: left !important;
  }
  .gameAreaTwo .imgArea img {
    width: 400px;
  }
  .gameAreaTwo .textArea {
    margin-left: 100px !important;
  }
  .gameAreaFour {
    height: 800px !important;
    background-size: cover !important;
    background-position: center !important;
  }
  .gameAreaFour .imgArea img {
    width: 300px;
    right: 100px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 300px;
  }
  .gameAreaFour .textArea {
    margin: 250px 0px !important;
    margin-left: 30px !important;
  }
  .gameArea {
    background-size: cover !important;
    background-position: center !important;
  }
  .setupClan {
    background-size: cover;
    height: 800px;
  }
  .setupClan .col-12 .textArea {
    margin: 0px 0px !important;
    margin-bottom: 100px !important;
  }
  nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 14px !important;
  }
  nav .navbar-collapse form .btnConnect {
    padding: 3px 20px !important;
    font-size: 14px;
  }
  .mainHeader .headerArea img {
    width: 350px;
    height: 350px;
  }
  footer .logorea img {
    width: 250px !important;
    height: 250px !important;
  }
  .itsyourturn h6 span {
    left: 160px !important;
  }
  .openSea .hoodBTn .hood h6:first-child {
    font-size: 42px;
  }
  .openSea .hoodBTn .hood h6:last-child {
    font-size: 54px;
  }
  .roadMap .container-fluid .firstArea .phaseImg {
    margin-bottom: 100px;
  }
  .roadMap .container-fluid .firstArea p:first-child {
    font-size: 26px !important;
  }
  .roadMap .container-fluid .firstArea p:nth-child(2) {
    font-size: 56px !important;
  }
  .roadMap .container-fluid .firstArea p:nth-child(3) {
    font-size: 36px !important;
  }
  .roadMap .container-fluid .firstArea .imgArea img {
    width: 600px !important;
    left: -67px !important;
    top: -20px !important;
  }
  .roadMap .container-fluid .secondArea .phaseImg {
    margin-bottom: 100px;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    left: 19px !important;
  }
  .roadMap .container-fluid .thirtArea .phaseImg {
    margin-bottom: 100px;
  }
  .roadMap .container-fluid .thirtArea .imgArea .imgS {
    left: 240px !important;
  }
  .roadMap .container-fluid .fourthArea .phaseImg {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1100px) {
  .gameArea .textArea {
    margin-right: 50px !important;
    margin-left: 0px !important;
  }
  .gamemode .cardArea .cardItems img {
    width: 150px !important;
  }
  .gamemode .cardArea .cardItems .textArea {
    padding: 0px 30px !important;
  }
  .gamemode .cardArea .cardItems .textArea p {
    text-align: center !important;
  }
  .gamemode .cardArea .cardItemsTwo .imgBefore {
    width: 130px !important;
  }
  .gamemode .cardArea .cardItemsTwo img {
    width: 150px !important;
  }
  .gamemode .cardArea .cardItemsTwo .textArea p {
    text-align: center !important;
  }
  .gameAreaTwo .textArea {
    margin-left: 50px !important;
  }
  .roadMap .container-fluid .secondArea .imgArea .opacityImag {
    width: 600px !important;
    left: 63px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .opacityImag {
    width: 350px !important;
  }
  .roadMap .container-fluid .thirtArea .imgArea .imgS {
    width: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .gamemode .textArea {
    text-align: center;
  }
  .gamemode .cardArea .cardItems img {
    width: 150px !important;
  }
  .gamemode .cardArea .cardItemsTwo .textArea {
    padding: 0px 20px;
  }
  .theGameHeader {
    background-image: url("../img/theGameBg.png");
    background-size: cover !important;
  }
  .theGameHeader .imgArea {
    position: absolute;
    right: unset !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .setupClan .col-12 .textArea {
    margin: 0px 0px !important;
    margin-bottom: 100px !important;
  }
  .setupClan .col-12 .textArea h6 {
    text-align: center;
  }
  .setupClan .col-12 .textArea p {
    text-align: center;
  }
  .menuActive {
    color: #06eab3 !important;
  }
  .menuActive::after {
    width: 10%;
    height: 20px;
    content: " ";
    position: absolute;
    bottom: -15px;
    left: -2px;
    background-image: url("../img/icon/navbottom.png");
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: center;
    position: absolute;
    left: 49%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav {
    position: relative;
  }
  nav .navbar-collapse {
    height: 100vh;
  }
  nav .navbar-collapse .mobilArea {
    display: block !important;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .navbar-collapse .mobilArea .navbar-nav .nav-item {
    text-align: center !important;
  }
  nav .navbar-collapse .mobilArea .navbar-nav .nav-item:first-child {
    margin-top: 50px;
  }
  nav .navbar-collapse .mobilArea form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .nftTExt .row .textAreaBtn .two {
    width: 300px !important;
  }
  .sliderOne .owl-carousel .owl-nav .owl-prev {
    width: 25px !important;
    height: 25px !important;
  }
  .sliderOne .owl-carousel .owl-nav .owl-next {
    width: 25px !important;
    height: 25px !important;
  }
  .spAboutusHeader {
    background-size: cover !important;
  }
  .spAboutusHeader .headerArea img {
    width: 350px !important;
  }
  .spAboutusHeader .headerArea p {
    width: 600px !important;
  }
  .joinTheTeam {
    background-size: cover !important;
    background-position: right;
  }
  footer {
    background-size: cover;
  }
  .gameAreaThree .textArea {
    margin-left: 0px !important;
  }
  .itsyourturn h6 span {
    left: 128px !important;
  }
  .openSea {
    padding-top: 200px !important;
  }
  .openSea .hoodBTn {
    display: block !important;
    text-align: center;
  }
  .roadMap {
    margin-bottom: 350px;
  }
  .roadMap .container-fluid {
    height: 3800px !important;
  }
  .roadMap .container-fluid .firstArea button {
    font-size: 18px !important;
  }
  .roadMap .container-fluid .secondArea .textArea button {
    font-size: 18px !important;
  }
  .roadMap .container-fluid .thirtArea {
    margin-top: 450px !important;
  }
  .roadMap .container-fluid .thirtArea .textArea button {
    font-size: 18px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:first-child {
    font-size: 124px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:nth-child(2) {
    font-size: 26px !important;
  }
  .roadMap .container-fluid .fourthArea .textArea p:nth-child(3) {
    font-size: 42px !important;
    line-height: 46px !important;
    margin: 0px 30px;
  }
  .roadMap .container-fluid .fourthArea .textArea button {
    font-size: 18px !important;
  }
  .roadMap .container-fluid .phaseArea {
    display: -ms-grid !important;
    display: grid !important;
    place-items: center;
  }
  .roadMap .container-fluid .phaseArea img {
    margin-top: 25px;
  }
  .roadMap .container-fluid .phaseArea img:first-child {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .gameAreaFour .textArea {
    text-align: center !important;
  }
  .gameAreaFour .textArea h6 {
    text-align: center !important;
  }
  .gameAreaThree .textArea {
    text-align: center !important;
  }
  .gameAreaThree .textArea h6 {
    text-align: center !important;
  }
  .gameAreaTwo .textArea {
    margin-left: 0px !important;
    text-align: center !important;
  }
  .gameAreaTwo .textArea h6 {
    text-align: center !important;
  }
  .gameArea .textArea {
    margin-right: 0px !important;
    text-align: center !important;
  }
  .gameArea .textArea h6 {
    text-align: center !important;
  }
  .spAboutusHeader .headerArea {
    width: 100% !important;
  }
  .spAboutusHeader .headerArea img {
    width: 350px !important;
  }
  .spAboutusHeader .headerArea p {
    width: 100% !important;
    padding: 20px 30px;
  }
  .setupClan .col-12 .textArea {
    width: 100% !important;
  }
  .teamMate .persons {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .itsyourturn h6 {
    line-height: 82px !important;
  }
  .itsyourturn h6 span {
    left: 83px !important;
  }
  .openSea {
    padding-top: 200px !important;
  }
  .openSea .hoodBTn {
    text-align-last: center;
    display: block;
  }
  .openSea .hoodBTn .hood h6:first-child {
    text-align: center;
    font-size: 36px !important;
  }
  .openSea .hoodBTn .hood h6:last-child {
    text-align: center;
    font-size: 56px !important;
  }
}

@media only screen and (max-width: 576px) {
  .theGameHeader .imgArea img {
    width: 350px;
    height: auto;
  }
  .Ourteam {
    text-align: center;
  }
  .joinTheTeam {
    text-align: center;
  }
  .spAboutusHeader .headerArea {
    width: 100% !important;
  }
  .spAboutusHeader .headerArea img {
    width: 250px !important;
  }
  .spAboutusHeader .headerArea p {
    width: 100% !important;
    text-align: center !important;
    padding: 20px 30px;
  }
  .sliderOne .owl-carousel .owl-nav .owl-prev {
    width: 15px !important;
    height: 15px !important;
    left: 30px !important;
  }
  .sliderOne .owl-carousel .owl-nav .owl-next {
    width: 15px !important;
    height: 15px !important;
    right: 30px !important;
  }
  .sliderOne .owl-carousel .owl-dots {
    bottom: 10px !important;
  }
  .teamMate .persons {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr !important;
  }
  .manifestoText .textArea h6 {
    font-size: 56px;
  }
  .openSea .hoodBTn .btn button {
    width: 320px !important;
  }
  footer {
    padding: 0px !important;
  }
  .openSea .hoodBTn .hood h6:first-child {
    font-size: 26px !important;
  }
  .openSea .hoodBTn .hood h6:last-child {
    font-size: 36px !important;
  }
  .openSea .hoodBTn .btn button {
    height: 70px !important;
  }
}

@media only screen and (max-width: 468px) {
  .teamMate .persons {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 360px) {
  .itsyourturn h6 span {
    left: 134px !important;
  }
}
/*# sourceMappingURL=main.css.map */